# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Env files
.env
.env.*
!.env.example

# Build
dist/
build/

# Logs
logs/
*.log

# OS
.DS_Store

# Testing
coverage/

# Vite
.vite/

# Misc
*.local
